[submodule "C:\\Users\\Sumit\\Desktop\\New folder\\adminapp"]
	path = C:\\Users\\Sumit\\Desktop\\New folder\\adminapp
	url = https://github.com/sumit189/opinion_taking_app
[submodule "Desktop/opinionapp"]
	path = Desktop/opinionapp
	url = https://www.github.com/sumit189/opinionapp
